In [2]:
import pandas as pd
import numpy as np

## Practice: collect one file of MTA data

In [3]:
turnstile_df_test = mta_df = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160903.txt')

In [5]:
turnstile_df_test.to_csv('mta_data_160903.csv', header = False, index = False)

In [6]:
turnstile_df_test.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,00:00:00,REGULAR,5799442,1966041
1,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,04:00:00,REGULAR,5799463,1966044
2,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,08:00:00,REGULAR,5799492,1966079
3,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,12:00:00,REGULAR,5799610,1966155
4,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,16:00:00,REGULAR,5799833,1966214